.btn {
    padding: 8px 0;
    background: $btn-primary;
    color: $white;
    padding-left: 16px;
    padding-right: 8px;
    height: 36px;
    text-transform: uppercase;
    border-radius: 50px;
    transition-duration: 0.4s;
    font-size: $h6-font-size;
    display: flex;

    &::after {
        content: url("../img/Arrow_white.svg");
        padding-left: 8px;
    }

    &.btn-nav {
        background: $btn-nav;
        color: $black;
        margin-left: $base-margin * 7;

        &::after {
            content: url("../img/Arrow_black.svg");
        }
    }
}
