.site_footer {
    position: relative;
    background: $sand_02;
    padding: 40px 60px;
    margin: auto 0;

    @include media-breakpoint-down(md) {
        padding: 40px 40px;
    }

    .container-fluid {
        width: 1440px;
        max-width: 100%;
       
        .copyright {
            transition: color 0.2s;
            font-size: $h5-font-size;
        }
    }
}
