.site_header {
  background: transparent;
  min-height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 77777; // techlove
  overflow: hidden;
  transition: height 0.2s;

  &.bgcolor-scrolled {
    background-color: rgba(245, 245, 245, 0.9);
    transition: 0.7s ease;
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.2);
  }
  @include media-breakpoint-down(sm) {
    z-index: 77777; //techlove
  }
  @media (max-width: 740px) {
    min-height: 68px;
  }
  .navbar_brand-mobile {
    position: fixed;
    top: 25px;
    left: 25px;
    @media (min-width: 740px) {
      display: none;
    }
  }
  .top_navigation {
    position: relative;
    height: 100%;
    z-index: 100;
    padding: 20px 24px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    @media (max-width: 740px) {
      display: none;
    }
    .scrolled_logo {
      display: none;
    }
    .menu-toppmeny-container {
      display: flex;
      align-items: center;
      background: white;
      border-radius: 50px;
      padding: 5px;
      max-height: 44px;

      .navbar-nav {
        flex-direction: row;
        margin: $base-margin * 1;
        > li {
          padding-left: $base-padding * 1.5;
        }
        button {
          width: 500px;
        }
      }
      .btn-nav {
        @include media-breakpoint-down(md) {
          margin-left: $base-margin * 2;
        }
      }
      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
      .lang-switcher {
        position: relative;
        .flag {
          cursor: pointer;
          background-repeat: no-repeat;
          width: 12px;
          height: 12px;
          &:hover ul {
            display: block;
          }
          ul {
            display: block;
            overflow: initial;
          }
        }
      }
      #dropdown {
        border: none;
        margin-left: $base-margin * 0.2;
      }
    }
  }
  .mobile_header {
    display: none;
    @media (max-width: 740px) {
      display: block;
      background-color: $sand_04;
      min-height: 68px;
      padding: 15px;
      .btn_get-started-mobile {
        float: right;
        margin: 0;
        margin-right: 65px;
        display: flex;
        @include media-breakpoint-down(sm) {
          margin-right: 40px;
        }
      }
      .navbar_close {
        position: fixed;
        right: 15px;
        top: 15px;
        display: block;
        width: 36px;
        height: 36px;
        cursor: pointer;
        border-radius: 50%;
        padding: 0 10px;
        z-index: 999999;

        appearance: none;
        background: $white;
        outline: none;
        border: none;

        .bar,
        &::after,
        &::before {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: $black;
          margin: 6px 0;
          transition: 0.4s;
        }
        &.is-active:before {
          transform: rotate(-45deg) translate(-5px, 5px);
        }
        &.is-active:after {
          transform: rotate(45deg) translate(-5px, -5px);
        }
        &.is-active .bar {
          opacity: 0;
        }
      }
    }
  }
  .main_navigation {
    display: none;
    @media (max-width: 740px) {
      display: block;
      position: fixed;
      top: 0;
      left: -100%;
      right: 100%;
      bottom: 0;
      position: fixed;
      transition: 0.6s;
    }
    &.is-active {
      left: 0;
      backdrop-filter: blur(5px);
    }
    nav {
      background-color: $sand_04;
      width: 299px;
      height: 100%;
      padding: $base-padding * 1;
      padding-bottom: $base-padding * 7;
      padding-top: $base-padding * 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .logo {
        max-width: 50%;
      }
      #dropdown_mobile {
        border: none;
        float: right;
        margin-top: $base-margin * 0.4;
      }
      .navbar-nav {
        padding-top: $base-padding * 4;
        li {
          border-top: 1px solid #afb3b7;
          padding: ($base-padding * 2) 0;
          a {
            display: flex;
            font-size: $base-font-size * 1.2;
            &::before {
              content: url("../img/Arrow_red.svg");
              margin-right: 10px;
            }
          }
        }
      }

      .nav-footer {
        border-top: 1px solid #afb3b7;
        p {
          padding: $base-padding * 2 0;
        }
        .btn-download {
          margin: 0;
        }
      }
    }
  }
}
