.site_header {
	background: lightgreen;
	min-height: 92px;
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 999999;
	overflow: hidden;
	transition: height 0.2s;
	padding-left: 60px;
	padding-right: 24px;

	@include media-breakpoint-down(sm) {
		z-index: 99999;
	}

	.top_navigation {
		position: relative;
		height: 100%;
		z-index: 100;
		background: yellow;
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.menu-toppmeny-container {
			display: flex;
			align-items: center;
			background: white;
			border-radius: 50px;
			padding: 5px;
			max-height: 44px;

			.navbar-nav {
				flex-direction: row;

				>li {
					padding-left: $base-padding * 1.5;
				}
			}

			
		}
	}
}