.site_header {
  background: transparent;
  min-height: 92px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 88888; // techlove
  overflow: hidden;
  transition: height 0.2s;
  padding-left: 60px;
  padding-right: 24px;
  margin: auto;
  max-width: 1440px;

  @include media-breakpoint-down(sm) {
    z-index: 88888; //techlove
  }

  .top_navigation {
    position: relative;
    height: 100%;
    z-index: 100;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu-toppmeny-container {
      display: flex;
      align-items: center;
      background: white;
      border-radius: 50px;
      padding: 5px;
      max-height: 44px;

      .navbar-nav {
        flex-direction: row;

        > li {
          padding-left: $base-padding * 1.5;
        }
      }

      /* The Close Button */
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }

      .close:hover,
      .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }
    }

    // .navbar-brand {
    // 	display: block;
    // 	float: left;
    // 	width: 216px;
    // 	position: absolute;
    // 	top: 50%;
    // 	left: 0;
    // 	transform: translateY(-50%);
    // 	margin-left: 70px;

    // 	// @include media-breakpoint-down(sm) {
    // 	// 	width: 168px;
    // 	// 	margin-left: 15px;
    // 	// }

    // 	svg {
    // 		display: block;
    // 		.cls-1 {
    // 			transition: fill 0.2s;
    // 		}
    // 	}

    // }
  }
}

/*.site_header {
	background: $white;
	min-height: 70px;
	position: fixed;
	top: 0; left: 0; right: 0;
	z-index: 999999;
	overflow: hidden;
	transition: height 0.2s;

	// @include media-breakpoint-down(sm) {
	// 	z-index: 99999;
	// }

	&.ready {
		overflow: visible;
	}
	.container-fluid {
		height: 100%;
	}
}

body.admin-bar {

	.site_header {
		top: 32px;

		// @media screen and (max-width: 782px) {
		// 	top: 46px;
		// }
	}
}


.navbar-brand {
	display: block;
	float: left;
	width: 216px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	margin-left: 70px;

	// @include media-breakpoint-down(sm) {
	// 	width: 168px;
	// 	margin-left: 15px;
	// }

	svg {
		display: block;
		.cls-1 {
			transition: fill 0.2s;
		}
	}

	
}

.top_navigation {
	position: relative;
	height: 100%;
	z-index: 100;
	background: #F5F5F5;
    padding: 20px 0;

	// @include media-breakpoint-down(lg) {
	// 	z-index: 99999;
	// 	// background: $white;
	// 	min-height: 59px;

	// 	&.container-fluid {
	// 		max-width: 1200px;
	// 	}
	// }
    

	.show_sub { display: none; }
    
	li {
		&:hover,
		&.current-menu-item,
		&.current-menu-ancestor {
			>a {
				color: yellow;
			}
		}
	}

    .menu-toppmeny-container {
        background-color: $white;
        border-radius: 50px;
        margin-right: 70px;
        display: flex;
        align-items: center;

        ul {
            margin: 0;
            padding: 0 10px;
            list-style: none;
            text-align: center;
            flex-direction: row;
            justify-content: flex-end;
    
            // @include media-breakpoint-down(lg) {
            // 	display: none;
            // }
    
            >li {
                display: inline-block;
                position: relative;
    
                >a {
                    display: block;
                    color: $dark_green;
                    font-weight: 700;
                    padding: 0 10px;
                    height: 49px;
                    line-height: 49px;
                    font-size: 16px;
    
                    &:hover {
                        color: yellow;
                    }
    
                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        pointer-events: none;
                        border-style: solid;
                        border-width: 0 11px 11px 11px;
                        border-color: transparent transparent yellow transparent;
                        transform: translateX(-50%);
                        opacity: 0;
                        transition: opacity 0.2s;
                    }
                }
    
    
                &.active {
                    >a {
                        color: yellow;
                        &:after {
                            opacity: 1;
                        }
                    }
                }
    
                &.have_megamenu {
                    >a {
                        
                    }
                    
                }
    
                &:hover {
                    
    
                    ul {
                        //opacity: 1;
                        //pointer-events: all;
                    }
                }
    
                
    
                >ul {
                    display: none;
                    position: absolute;
                    top: calc(100%);
                    left: 50%;
                    background: #071723;
                    transform: translateX(-50%);
                    margin: 0;
                    padding-left: 22px;
                    padding-right: 22px;
                    text-align: left;
                    transition: opacity 0.1s;
                    border-top: 1px solid #a67b0b;
    
                    &:after {
                        content: "";
                        width: 0;
                        height: 0;
                        position: absolute;
                        bottom: 100%;
                        left: 50%;
                        pointer-events: none;
                        border-style: solid;
                        border-width: 0 11px 11px 11px;
                        border-color: transparent transparent yellow transparent;
                        transform: translateX(-50%);
                    }
    
                    >li {
                        &:first-child {
                            margin-top: 15px;
                        }
                        &:last-child {
                            margin-bottom: 20px;
                        }
                        >a {
                            color: grey;
                            white-space: nowrap;
    
                            &::before {
                                display: inline-block;
                                font-style: normal;
                                font-variant: normal;
                                text-rendering: auto;
                                -webkit-font-smoothing: antialiased;
                                font-family: "Font Awesome 5 Pro";
                                font-weight: 900;
                                content: "\f105";
                                margin-right: 6px;
                                color: yellow;
                            }
    
                            &:hover {
                                color: yellow;
                            }
                        }
                    }
                }
            }
        }
        .get-started-btn {
            margin-left: 90px;
            margin-right: 30px;
            background: #FF4B00;
            border-radius: 50px;
        }
    }
}



.navbar_toggler,
.search_toggler,
.login_toggler {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	float: right;
	cursor: pointer;
	padding: 0;
	background: transparent;
	border: none;
	outline: none;
	color: #12293d;
	font-size: 20px;
	padding: 10px;
	transition: color 0.2s;

	&.active {
		color: yellow;
	}

	&:focus {
		outline: none;
	}

	// @include media-breakpoint-up(lg) {
	// 	&:hover {
	// 		color: $yellow;
	// 	}
	// 	&:hover {
	// 		.lines {
	// 			color: $yellow;
	// 		}
	// 	}
	// }
}

.navbar_toggler {
	right: 60px;
	width: 40px;
	overflow: hidden;
	
	.lines {
		position: absolute;
		height: 2px;
		width: 90%;
		background: $white;
		top: 50%;
		left: 20px;
	}
	
	.lines::before {
	content: "";
	position: absolute;
	height: 2px;
	width: 150%;
	background: $white;
	top: -8px;
	right: 0;
	}
	
	.lines::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 120%;
	background: $white;
	top: 8px;
	right: 0;
	}

	// @include media-breakpoint-up(lg) {
	// 	&:hover {
	// 		.lines, .lines::before, .lines::after {
	// 			background-color: $yellow;
	// 			transition: all 500ms ease;
	// 		}
	// 	}
	// }

	// @include media-breakpoint-down(sm) {
	// 	right: 15px;
	// }
}


.main_navigation {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -605px;
	width: 270px;
	transition: right 0.4s;
	z-index: 9999;
	background: $white;

	&.active {
		right: -0;
	}

	&:after {
		content: "";
		background: $white;
		width: 200px;
		height: 100%;
		position: absolute;
		top: 0;
		left: -75px;
		transform: skewX(6deg);
		z-index: -1;
	}

	nav {
		text-align: right;
		margin-right: 70px;
		margin-top: 95px;
		margin-left: -60px;

		ul {
			margin-left: 0;
			padding: 0;
			list-style: none;

			li {
				a {
					font-size: 20px;
					font-weight: 300;
					display: inline-block;
					margin-bottom: 14px;

					// @include media-breakpoint-down(lg) {
					// 	display: block;
					// 	font-size: 18px;
					// 	margin-bottom: 0;
					// 	font-weight: 700;
					// }

					&:hover {
						color: yellow;
					}
				}

				&.current-menu-item {
					>a {
						color: yellow;
					}
				}
			
			}

			ul {
				margin-right: 0;

				a {
					font-size: 16px;
					color: $black;
				}
			}
		}
	}

	.show_sub { display: none; }

}

body.admin-bar {
	.main_navigation {
		top: 32px;
	}
}


.navbar_close {
	position: absolute;
	top: 22px;
	right: 25px;
	width: 40px;
	height: 40px;
	border: none;
	background: transparent;
	outline: none;
	padding: 0;
	cursor: pointer;

	&:focus {
		outline: none;
	}

	&:before,
	&:after {
		content: "";
		width: 100%;
		height: 1px;
		background: blue;
		position: absolute;
		top: 50%;
		left: 0;
		transition: background 0.2s;
	}

	&:before {
		transform: rotate(135deg);
	}
	&:after {
		transform: rotate(-135deg);
	}

	&:hover {
		&:before,
		&:after {
			background: yellow;
		}
	}

	// @include media-breakpoint-down(lg) { display: none; }
}

.menu_overlay {
	position: fixed;
	background: $black;
	z-index: 99;
	cursor: pointer;
	display: none;
	top: 0; left: 0; right: 0; bottom: 0;

	&.sidemenu_overlay {
		z-index: 999;
	}

	
}

.search_form {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background: yellow;
	height: 68px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	.container-fluid {
		position: relative;

		&:before {
			content: "";
			width: 1px;
			height: 31px;
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
			background: $black;
		}
	}

	.search_field {
		display: block;
		width: 100%;
		height: 68px;
		border: none;
		background: yellow;
		font-family: 'Times';
		font-weight: 300;
		font-size: 20px;
		padding-left: 8px;
		padding-right: 40px;
		color: $black;

		&:focus {
			outline: none;
		}
	}

	.search_submit {
		position: absolute;
		top: 50%;
		right: 15px;
		transform: translateY(-50%);
		border: none;
		outline: none;
		background: transparent;
		cursor: pointer;
		font-size: 24px;
		transition: color 0.2s;
		padding: 10px;

		&:hover {
			color: grey;
		}
	}
}

input.search_field::-webkit-input-placeholder {
	color: $black;
	opacity: 1;
}
input.search_field::-moz-placeholder {
	color: $black;
	opacity: 1;
}
input.search_field::-ms-input-placeholder {
	color: $black;
	opacity: 1;
}
input.search_field::-moz-placeholder {
	color: $black;
	opacity: 1;
}

.megamenu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	display: none;
	z-index: 9999;

	.show_sub { display: none; }

	

	.link {
		margin: 0;
		margin-top: 40px;
		text-align: center;
		position: relative;
		z-index: 10;
	}

	.inner {
		position: relative;
		overflow-x: hidden;
		overflow-y:auto;
		max-height: 100vh;

		/*&:after {
			content: "";
			background: #071723;
			transform: skewY(-3deg);
			position: absolute;
			bottom: -69px;
			left: 0;
			right: 0;
			height: 136px;
			z-index: 5;
		}*/
/*
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		line-height: 1.7em;
		display: block;
	}

	.container-fluid {
		position: relative;
		z-index: 10;
		padding-bottom: 150px;

		&:after {
			content: "";
			background: #071723;
			transform: skewY(-3deg);
			position: absolute;
			bottom: 69px;
			left: 50%;
			transform: translateX(-50%) skewY(-3deg);
			height: 176px;
			z-index: 5;
			width: 100vw;
		}

		&:before {
			content: "";
			background: #071723;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			height: calc(100% - 136px);
			z-index: 5;
			width: 100vw;
		}

		.row {
			position: relative;
			z-index: 10;
		}

		ul.sidebar_courses {
			span.menu_header {
				display: block;
				font-size: 18px;
				margin-bottom: 15px;
				color: grey;
				font-weight: 700;
		
				>a {
					font-size: 18px;
					color: grey;
					font-weight: 700;

					&::before { display: none; }

					&:hover {
						color: yellow;
					}
				}
			}
		}

		ul.menu {
			margin-top: 52px;
			display: flex;
			flex-wrap: wrap;
			

			>li {
				width: 25%;
				margin-bottom: 40px;

				&:last-child {
					margin-bottom: 0;
				}

				>ul {
					>li {
						&:nth-child(1n+5):not(.readmore) {
							display: none;
						}
					}
				}
			}

			li.readmore {
				margin-top: 15px;
				>a {
					color: yellow;
					&::before { display: none; }

					&::after {
						display: inline-block;
						font-style: normal;
						font-variant: normal;
						text-rendering: auto;
						-webkit-font-smoothing: antialiased;
						font-family: "Font Awesome 5 Pro";
						font-weight: 400;
						content: "\f107";
						margin-left: 6px;
						color: yellow;
						position: relative;
					}
				}

				&.active {
					>a {
						&::after {
							transform: rotate(180deg);
							top: 2px;
						}
					}
				}
			}

			a {
				color: grey;
				font-size: 16px;
				font-weight: 300;

				&:hover {
					color: yellow;
				}

				&::before {
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					font-family: "Font Awesome 5 Pro";
					font-weight: 400;
					content: "\f105";
					margin-right: 6px;
					color: yellow;
				}
			}

			span.shop-icon {
				margin-right: 5px;

				svg {
					display: inline-block;
					vertical-align: middle;
					width: 27px;
					height: 27px;
				}
			}

			span.menu_header {
				display: block;
				font-size: 18px;
				margin-bottom: 15px;
				color: grey;
				font-weight: 700;
		
				>a {
					font-size: 18px;
					color: grey;
					font-weight: 700;

					&::before { display: none; }

					&:hover {
						color: yellow;
					}
				}
			}

			>li {
				>ul.sub-menu {
					>li.menu-item-has-children {
						padding-left: 37px;

						>a {
							color: yellow;

							&:before { display: none; }	

							&::after {
								display: inline-block;
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								-webkit-font-smoothing: antialiased;
								font-family: "Font Awesome 5 Pro";
								font-weight: 400;
								content: "\f107";
								margin-left: 6px;
								color: yellow;
								transition: transform 0.2s;
							}

							&.active {
								&::after {
									transform: rotate(180deg);
								}
							}
						}

						>ul.sub-menu {
							display: none;

							>li {
								margin-bottom: 10px;

								&:first-child {
									padding-top: 10px;
								}

								&:last-child {
									margin-bottom: 0;
								}
							}
						}
					}
				}
			}

			
		}
	
	}

	&.megamenu_courses {
		.container-fluid {
			ul.menu {
				>li {
					width: 33.33333%;
				}
			}
		}
	}

	ul.sidebar_courses {
		margin-top: 52px;

		li:not(.header) {
			margin-bottom: 4px;

			a {
				color: yellow;
			}
		}
	}

	.meta {
		font-size: 12px;
		color: #6e819f;
		font-style: italic;
	}

	
}

.close_megamenu {
	position: absolute;
	top: 22px;
	right: 25px;
	width: 40px;
	height: 40px;
	border: none;
	background: transparent;
	outline: none;
	padding: 0;
	cursor: pointer;
	z-index: 999;
	text-indent: -9999px;
	overflow: hidden;

	&:focus {
		outline: none;
	}

	&:before,
	&:after {
		content: "";
		width: 100%;
		height: 1px;
		background: yellow;
		position: absolute;
		top: 50%;
		left: 0;
		transition: background 0.2s;
	}

	&:before {
		transform: rotate(135deg);
	}
	&:after {
		transform: rotate(-135deg);
	}

	&:hover {
		&:before,
		&:after {
			background: blue;
		}
	}

	// @include media-breakpoint-down(lg) { display: none; }
}

*/
