.modul {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  transition: opacity 0.4s ease;
  z-index: 999999;
  backdrop-filter: blur(5px);
  pointer-events: auto;
}

/* Modal Content/Box */
.modul-content {
  max-width: 1440px;
  height: 100vh;
  float: right;
  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 23px;
  }

  .modul-left {
    background-color: $brick;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: ($base-padding * 8) ($base-padding * 6) ($base-padding * 4);
    @include media-breakpoint-down(sm) {
      border-radius: 50px 50px 0 0;
    }
    img {
      width: 3rem;
    }
    h4 {
      padding: ($base-padding * 2) 0 ($base-padding * 3);
      font-size: $base-font-size * 1.6;
    }
    .contact-info a {
      color: $white;
      text-decoration: underline;
    }
    .close {
      position: absolute;
      right: 35px;
      top: 17px;
      z-index: 999999;
      background: $white;
      border-radius: 50%;
      height: 35px;
      width: 35px;
      padding: $base-padding * 0.5;
      cursor: pointer;
      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  .modul-right {
    position: relative;
    background-color: #f5f5f5;
    padding: $base-padding * 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @include media-breakpoint-down(md) {
      padding: $base-padding * 4;
      padding-bottom: 0;
    }
    .close {
      position: absolute;
      right: 35px;
      top: 45px;
      display: block;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

// get started
.modul_get-started {
  .modul-right {
    padding-bottom: $base-padding * 6;
    h2 {
      margin-bottom: $base-margin * 2;
    }

    .form-content {
      background-color: yellow;
    }
  }
  .modul-left {
    @include media-breakpoint-down(md) {
      padding: ($base-padding * 4) ($base-padding * 4) ($base-padding * 2);
    }
    .pt-6 {
      @include media-breakpoint-down(md) {
        padding-top: 0 !important;
      }
    }
  }
}

// contact us
.modul_contact-us {
  h2 {
    margin-bottom: $base-margin * 2;
  }

  .form-content {
    width: 100%;

    label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-size: 12px;
    }
    input[type="text"] {
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
    }
    input[type="text"],
    textarea {
      color: #555;
      border: none;
    }
    textarea {
      width: 100%;
      &:focus-visible {
        outline: 1px solid #ccc;
      }
    }
    span {
      font-size: 12px;
      position: absolute;
      bottom: 18px;
      right: 12px;
      img {
        width: 16px;
        margin: 0 5px;
      }
    }
  }
}

// features
.modul_features {
  .modul-right {
    h2 {
      font-size: $base-font-size * 1.5;
      line-height: 1.4;
    }
    .project-list {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      flex-direction: column;
      margin: $base-margin * 5 0;
      width: fit-content;

      li {
        border-bottom: 1px solid $sand_01;
        padding: $base-padding * 1 0;
        display: flex;
        &::before {
          content: url("../img/Arrow_red.svg");
          margin-right: 10px;
        }
      }
    }

    img {
      position: absolute;
      bottom: 0;
      right: 0;
      max-width: 350px;
      @include media-breakpoint-down(md) {
        max-width: 300px;
        position: relative;
      }
      @include media-breakpoint-down(sm) {
        max-width: 260px;
      }
    }
  }
  .modul-left {
    @include media-breakpoint-down(md) {
      padding: ($base-padding * 4) ($base-padding * 4) ($base-padding * 2);
    }
    .pt-6 {
      @include media-breakpoint-down(md) {
        padding-top: 0 !important;
      }
    }
  }
}
