.component_right_image {
  position: relative;
  padding: 130px 0 0 0;
  max-width: 1440px;
  margin: auto;
  @include media-breakpoint-down(xl) {
    padding: 130px 50px 0 50px;
  }
  @include media-breakpoint-down(md) {
    padding: 90px 50px 0 50px;
  }
  div {
    @include media-breakpoint-down(md) {
      min-height: 500px;
    }
    @include media-breakpoint-down(md) {
      min-height: initial;
    }
    h1,
    h2,
    h3,
    h4 {
      color: $brick;
      padding-bottom: $base-padding * 5;
    }
    h2 {
      @include media-breakpoint-down(md) {
        position: absolute;
      }
      @include media-breakpoint-down(sm) {
        font-size: $base-font-size * 2;
        line-height: 34px;
        position: initial;
        padding-bottom: $base-padding * 2;
      }
    }

    p {
      padding-bottom: $base-padding * 2;
      @include media-breakpoint-down(md) {
        padding-top: $base-padding * 15;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .qr-image {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
    .btn-download {
      display: none;
      @include media-breakpoint-down(sm) {
        display: flex;
        margin: 10px 0 20px;
      }
    }
    .image {
      @include media-breakpoint-up(lg) {
        max-width: 80%;
      }
    }
  }
}
