.component_content {
  padding-top: 170px;
  padding-bottom: 65px;
  background-color: $brick;
  @include media-breakpoint-down(sm) {
    padding-top: 50px;
  }

  .container {
    background-color: $white;
    padding: ($base-padding * 3) ($base-padding * 3);
    @include media-breakpoint-down(sm) {
      padding: $base-padding * 1;
    }

    > .container-fluid {
      max-width: 843px;
      margin-top: 40px;

      &.h1 {
        // max-width: 1109px;
        border-bottom: 1px solid $sand_01;
        text-align: center;
        padding-bottom: 20px;
        color: $brick;
        @include media-breakpoint-down(md) {
          font-size: $base-font-size * 2.5;
          line-height: normal;
        }
      }
    }
  }
}
