.component_get_started {
    background: $dark_blue;
    color: $white;
    padding: $base-padding * 12;

    .col {
        padding-top: $base-padding * 8;

        h3 {
            padding: ($base-padding * 2) 0 ($base-padding * 1);
        }
    }
}