.component_hero {
  position: relative;
  padding: 10px;

  &.big .hero_image {
    min-height: 730px;
    @include media-breakpoint-up(xxl) {
      min-height: 843px;
    }
    @include media-breakpoint-down(md) {
      min-height: 1154px;
    }
    @include media-breakpoint-down(sm) {
      min-height: 680px;
    }
  }

  .hero_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
  }

  .hero_content {
    position: absolute !important;
    bottom: 5rem;
    color: white;
    padding-left: $base-padding * 1;
    border-left: 1px solid $white;
    max-width: 1440px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-down(xxl) {
      margin-left: $base-margin * 4;
      margin-right: $base-margin * 4;
    }
    @include media-breakpoint-down(md) {
      display: flex;
      flex-direction: column;
    }
    @include media-breakpoint-down(sm) {
      border: none;
      margin: 0;
      padding: 0 ($base-padding * 2);
    }

    div:first-child {
      h2,
      h3,
      h4,
      h5 {
        @include media-breakpoint-down(md) {
          font-size: $base-font-size * 2;
          line-height: 34px;
        }
      }

      p:last-child,
      a:last-child,
      button:last-child {
        margin-top: $base-margin * 3;
      }

      p {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
    }

    div:last-child {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-end;
      margin-top: $base-margin * 2;

      @include media-breakpoint-down(md) {
        justify-content: flex-start;
        margin-top: $base-margin * 2;
      }
      .qr-code {
        @include media-breakpoint-down(sm) {
          display: none;
        }
      }
      .btn-download {
        display: none;
        @include media-breakpoint-down(sm) {
          display: block;
          margin-top: $base-margin * 3;
          display: flex;
        }
      }
    }
  }
}
