.component_subscription {
  margin: ($base-margin * 3) ($base-margin * 4);
  @include media-breakpoint-down(md) {
    padding: $base-padding * 1;
    margin: 0;
  }
  .row {
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
    .subscription-item {
      border-radius: 3px;
      max-width: 424px;
      min-height: 646px;
      position: relative;
      background: $white;
      margin: ($base-margin * 1) 0;

      &:nth-child(even) {
        margin-left: $base-margin * 2;
        margin-right: $base-margin * 2;
      }

      h5 {
        color: $red_accent;
        font-size: $h5-font-size * 1.2;
      }

      .price {
        font-size: $base-font-size * 3;

        span {
          font-size: $base-font-size;
        }
      }

      .notification {
        font-size: $base-font-size;
      }

      ul {
        li {
          float: none;
          display: flex;

          &::before {
            content: url("../img/Check.svg");
            padding-right: 10px;
          }
        }
      }

      .subscribe-links {
        position: absolute;
        bottom: 30px;
        flex-wrap: nowrap;
        align-items: baseline;

        .learn-more {
          display: flex;
          width: fit-content;
        }
      }
    }
  }
}
