.component_text_image {
  // Desktop
  &.desktop {
    max-width: 1440px;
    margin: auto;
    padding: ($base-padding * 8) 10px;
    position: relative;

    .row.first {
      padding-left: 40px;
      .col.left {
        height: auto;

        h2 {
          color: $brick;
          max-width: 700px;
          margin-bottom: 50px;
        }

        .container_content {
          display: flex;
          justify-content: space-between;
          border-top: 1px solid black;
          padding: 30px 0 40px;
          opacity: 0.3;

          &.is-active {
            opacity: 1;
          }

          h3 {
            display: flex;
            font-size: $base-font-size * 1.4;

            &.is-active {
              &::before {
                content: url("../img/Arrow_red.svg");
                margin-right: 10px;
              }
            }
          }

          .container_text {
            padding-left: 40px;
            max-width: 500px;

            h6 {
              border: 1px solid #9c9fa3;
              padding: 1px 7px;
              border-radius: 3px;
              color: #9c9fa3;
            }
          }
        }
      }
      .col.right {
        position: relative;
        .background-col {
          background-repeat: no-repeat;
          background-position: right center;
          background-size: cover;
          overflow: hidden;
          border-radius: 6px;
          margin-left: $base-margin * 5;
          padding: 0;
          height: 594px;
          max-width: 594px;
          position: absolute;
          width: inherit;
          transition: opacity 2s ease;
        }
      }
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  //   Tablet
  &.tablet {
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
    }
    > .row {
      @include media-breakpoint-down(md) {
        padding: 0;
      }
    }
    h2 {
      color: $brick;
      margin: 80px 0 50px;
      max-width: 700px;
      @include media-breakpoint-down(sm) {
        font-size: 30px;
        line-height: normal;
      }
    }

    .container {
      min-height: 527px;

      @include media-breakpoint-down(md) {
        flex-flow: wrap-reverse;
      }
      @include media-breakpoint-down(sm) {
        min-height: initial;
      }

      h5 {
        font-size: $base-font-size * 1;
      }

      h6 {
        border: 1px solid #9c9fa3;
        padding: 1px 7px;
        border-radius: 3px;
        color: #9c9fa3;
      }

      .subheading {
        border-top: 1px solid $black;
        width: 80%;
        padding: 30px 0 20px;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      .subcontent {
        width: 80%;
        padding-bottom: $base-padding * 2;
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }

      .background-col {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        overflow: hidden;
        border-radius: 6px;
        margin-bottom: 30px;
        padding: 0;

        @include media-breakpoint-down(lg) {
          background-position: unset;
          min-height: inherit;
        }

        @include media-breakpoint-down(sm) {
          margin-top: 30px;
          height: 343px;
          width: 343px;
        }
      }
    }
  }
}
