// .box {
//   height: 400px;
//   width: 400px;
//   display: inline-block;

//   &.big {
//     background-color: pink;
//     @include media-breakpoint-down(lg) {
//       background-color: aqua;
//       display: none;
//     }
//   }

//   &.medium {
//     background-color: lightblue;
//     display: none;
//     @include media-breakpoint-down(lg) {
//       display: block;
//     }
//     @include media-breakpoint-down(sm) {
//       display: none;
//     }
//   }

//   &.small {
//     background-color: lightgreen;
//     display: none;
//     @include media-breakpoint-down(sm) {
//       display: block;
//     }
//   }
// }

// Desktop
.component_text_image {
  &.desktop {
    // background-color: yellow;
    padding: ($base-padding * 8) 10px;
    position: relative;

    .row.first {
      //   background-color: lightblue;

      .col.left {
        // background-color: lightcoral;
        height: auto;
        padding-left: 40px;

        h2 {
          color: $brick;
          // no margin in desktop exept bottom
          // margin: 80px 0 50px;
          max-width: 700px;
          margin-bottom: 50px;
        }

        .container_content {
          //   background-color: magenta;
          display: flex;
          border-top: 1px solid black;
          padding: 30px 30px 40px 0;

          h3 {
            // background-color: lime;
            display: flex;
            font-size: $base-font-size * 1.4;

            &::before {
              content: url("../img/Arrow_red.svg");
              margin-right: 10px;
            }
          }

          .container_text {
            padding-left: 40px;

            h6 {
              border: 1px solid #9c9fa3;
              padding: 1px 7px;
              border-radius: 3px;
              color: #9c9fa3;
            }
          }
        }
      }
    }

    .col.right {
      // background-color: lightseagreen;
      // height: auto;
    }

    .background-col {
      background-repeat: no-repeat;
      background-position: right center;
      background-size: cover;
      overflow: hidden;
      border-radius: 6px;
      margin-left: $base-margin * 5;
      padding: 0;
      height: 594px;
      max-width: 594px;
    }

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
  //   Tablet
  &.tablet {
    display: none;
    @include media-breakpoint-down(lg) {
      display: block;
    }
    h2 {
      color: $brick;
      margin: 80px 0 50px;
      max-width: 700px;
    }

    .container {
      min-height: 527px;

      @include media-breakpoint-up(lg) {
        min-height: 527px;
      }

      h5 {
        font-size: $base-font-size * 1;
      }

      h6 {
        border: 1px solid #9c9fa3;
        padding: 1px 7px;
        border-radius: 3px;
        color: #9c9fa3;
      }

      .subheading {
        border-top: 1px solid $black;
        width: 80%;
        padding: 30px 0 20px;
      }

      .subcontent {
        width: 80%;
      }

      .background-col {
        background-repeat: no-repeat;
        background-position: right center;
        background-size: cover;
        overflow: hidden;
        border-radius: 6px;
        margin-bottom: 30px;
        padding: 0;
        max-width: 527px;
      }
    }
  }
}
